venv/
__pycache__/
*.db
.env
.git/
.gitignore
*.pyc
*.pyo
*.pyd
.Python
env/
instance/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.idea/
.vscode/
*.log
node_modules/
frontend/node_modules/
