# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
build/
.DS_Store

# Logs
*.log
/uvicorn*.log

# Backups
backups/
*.tar.gz
*.zip

# Secrets and Configs
traffic-creator-key.json
.gcloudignore
*.json
!package.json
!tsconfig.json
!firebase.json
!metadata.json
*.db
